h3.h5bp {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: url(img/f8bg.jpg);
    width: 100%;
    height: auto;
}

.main-logo {
    width: 50%;
    height: 50%;
}

.thumbnail {
    background-color: transparent;
    border: none;
    float: left;
}

#wade {
    margin-top: 10px;
}

div.img-div {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 5%;
    float: left;
    margin-right: 20px;
}

div.img-div img {
    width: 100%;
}

.no_padding {
    padding:0;
    margin-bottom: 20px;
}

.content-section-a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-section-b {
    padding-top: 10px;
    padding-bottom: 10px;
}

.item {
    max-height: px;
}

.intro-message {
    padding-top: 80px;
    padding-bottom: 80px;
}

.intro-header {
    background-image: url(http://i.imgur.com/DVG5HYf.jpg);
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.btn,
.btn-primary {
    color: #000000;
    background-color: #f5f5f5;
    border-color: darkgray;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.dark_opacity {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-top: 20px;
}

#connect_picture {
    width: 100%;
}

.left_fifteen {
    margin-left: -15px;
}

#dealeraccess {
    padding: 13px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: rgb(200, 200, 200);
}

@media (min-width: 990px) {
    #centerthebottom {
        margin-left: -74px;
        padding-right: 0;
        padding-left: 296px;
    }
}

@media (max-width: 415px) {
    .disappearsmall {
        display: none;
    }
}

@media (max-width: 767px) {
    div.img-div {
        margin: 0 auto;
        float: none;
    }
}

#team {
    background-color: #E5E4E2;
}

.row {
    margin: auto;
}

.socialbottom {
    padding-left: 0;
}

.issuuembed {
    margin-left: auto;
    margin-right: auto;
}

.thumbnail {
    width: 100%;
}

.topbio {}


/*
** Navbar Styles
*/

#my_navbar {
    background-color: rgba(0, 0, 0, .0);
    border-bottom: none;
    -webkit-transition: background ease 1s;
    -moz-transition: background ease 1s;
    -o-transition: background ease 1s;
    transition: background ease 1s;
}

#my_navbar a {
    color: #dcdcdc;
}

#my_navbar a:hover {
    color: white;
}

#my_toggle {
    padding: 2px 10px;
}

#my_toggle img {
    max-height: 28px;
}

>>>>>>> Stashed changes